.add-link-dialog.dialog{style:"visibility: hidden; width: 400px; display: block;"}
  .dialog-content
    .dialog-hd
      %h3 添加链接
      %a.close-dialog.close-dialog-X{href: '#'} X
    .link-dialog-content
      .row
        %label.field{for: 'link_text'} 显示
        %input#link_text{type: 'text', value:''}
      .row
        %label.field{for: 'link_url'} 地址
        %input#link_url{type: 'text', value:'http://'}
      .dialog-ft
        %input.btn#add_link_btn{type: 'button', value:'确认'} 
        %span.bn-flat
          %input.bn-flat.close-dialog{type: 'button', value:'取消'}