=form_for @blog do |f|
  .blog-title
    =f.label "Title:", class:'field', for:'blog_title'
    %div
      =f.text_field :title, class:'blog-title', name:'blog[title]'
  .blog-content
    =f.label "Content:", class:'field', for:'wmd-input' 
    .wmd-panel
      #wmd-button-bar
      =f.text_area :content, class:'wmd-input blog_content_md', id: 'wmd-input',name: 'blog[content]'
      .footer
        =f.submit "Submit", class: "button"
    #wmd-preview.wmd-panel.wmd-preview
  #myModal.modal.hide.fade
    .modal-header
      %input.close{type:"button", data:{dismiss:"modal"}, aria:{hidden:"true"}, value:"x"}
      %h3#myModalLabel Insert Image
    .modal-body
    %input#file{type:"file", name:"pic"}
    .modal-footer
      %input.button{type:"button", data:{dismiss:"modal"}, aria:{hidden:"true"}, value:"取消"}
      :javascript
        $(document).ready(function(){

          var converter1 = Markdown.getSanitizingConverter();
          var editor1 = new Markdown.Editor(converter1);
          editor1.run();

          editor1.hooks.set("insertImageDialog", function(callback){
            $("#myModal").modal("show");
            $("#file")[0].onchange=function(){
              $.ajaxFileUpload({
                url:"/upload", 
                secureuri:false,
                fileElementId:'file',
                async:false,
                type: "POST",
                dataType: "json",
                success: function (data, status)
                {
                  if(data.success === true){
                    callback(data.filePath)
                    $("#myModal").modal("hide");
                  }else{
                    
                  }
                }
              });
            }
            return true;
          });
        })
  .tag-editor
    =render 'tags/edit_tag' 