.index-content
	-blogs.each do |blog|
		%article{id:"#{blog.id}"}
			.bref
				.bref-title
					%h1
						=link_to blog.title, blog_path(blog)
				.escaped-content=sanitize html_view blog.bref_content
				%a{href:"#{blog_path(blog)}"} ...
				%br
				-unless blog.tags.blank?
					%tags
						-blog.tags.each do |tag|
							%a.tag{href:"#{tag_path(tag)}"}=tag.name
				-if signed_in?
					.opration
						=link_to 'edit', edit_blog_path(blog)
						=link_to 'destroy', blog_path(blog), method: :delete, class: 'delete-blog', href: 'javascript:void(0)', remote: true
			.statistical-info
				%h2.create-date #{blog.created_at.localtime.strftime("%b,%d")}
				%span.create-year=blog.created_at.localtime.strftime("%Y")
				%span.like-count=blog.like_count
