-provide(:title, '编辑文章')
%link{rel:"stylesheet", href:"/css/blogs.css", media:"all"}
.edit-blog
  %article
    %h1 编辑文章
    =form_for @blog do |f|
      .row.blog-title
        =f.label "题目:", class:'field', for:'blog_title'
        %div
          =f.text_field :title, class:'blog-title', id:'blog_title', name:'blog[title]'
      .row.blog-content
        =f.label "正文:", class:'field', for:'blog_content' 
        =render 'editor'
        =f.text_area :content, id:'blog_content', name:'blog[content]', style:'display:none' 
        .tags-editer
        =render 'tags/blog_tags' 
      .row.footer
        .error-msg
        %span.bn-flat
          %input.bn-flat#preview_blog{type:'button', value:'预览'}
        &nbsp;
        %input.btn#publish_blog{type:'submit', value:'发表'}
        %span.bn-flat.cancel-blog
          =link_to '取消', blog_path(@blog), class:'bn-flat', id:'cancel_edit', name: 'cancel_edit'