-if signed_in?
	%a.create-blog.italic{href:"#{new_blog_path}"} New one
=render partial:'index_section', locals:{blogs: @blogs}
%pagination=will_paginate(page_links: false, previous_label: "Newer", next_label: "Older")
