-provide(:title, '创建文章')
%link{rel:"stylesheet", href:"/css/blogs.css", media:"all"}
.edit-blog
  %article
    %h1 创建文章
    %form#form_blog{method:'post', action:"#{blogs_path}", style:'display: block;'} 
      .row.blog-title
        %label.field{for:'blog_title'} 题目:
        %div
          %input.blog-title.subcheck#blog_title{type:'text', name:'blog[title]'} 
      .row.blog-content
        %label.field{for:'blog_content'} 正文:
        =render 'editor'
        %textarea#blog_content{name:'blog[content]', style:'display:none'} 
      .tags-editer
        =render 'tags/blog_tags'
      .row.footer
        %span.bn-flat
          %input.bn-flat#preview_blog{type:'button', value:'预览'}
        &nbsp;
        %input.btn#publish_blog{type:'submit', value:'发表'}
        %span.bn-flat.cancel-blog
          =link_to '取消', blogs_path, class:'bn-flat', id:'cancel_edit', name:'cancel_edit'
    =render 'add_link&img'
/ :javascript
/   $(window).bind("beforeunload", function(){
/     return "确定离开？";
/   });
/   $("#publish_blog").click(function(){
/     $(window).unbind("beforeunload");
/   });

    
