%link{rel:"stylesheet", href:"/css/blogs.css", media:"all"}
-provide(:title, @blog.title)
%section.article-content
	%article{id:"#{@blog.id}"}
		%h1=@blog.title
		%span.create-time=@blog.updated_at.localtime.to_s(:db)
		%div
			.escaped-content=@blog.content
		%a.screen-top{href:"#", style:"display: none;", value:'返回顶部'} 
			%del
			%b
		-unless @blog.tags.blank?
			%h6 标签:
			%tags 
				=render @blog.tags
			%a.like-count
			%span.like-nums=@blog.like_count
	%nav.article_nav
		-if @blog.has_pre?
			=link_to "Older", blog_path(@blog.pre_blog), class: "pre_blog"
		-if @blog.has_next?
			=link_to 'Newer', blog_path(@blog.next_blog), class: "next_blog"
	-if signed_in?
		=link_to '编辑', edit_blog_path(@blog)
	%comment
		%h6 所有留言:
		%ul.comment
			-@blog.comments.each do |comment|
				%li.comment=render comment
		%h6 写留言:
		=render "comments/form"

