%link{rel:"stylesheet", href:"/css/blogs.css", media:"all"}
-provide(:title, @blog.title)
%section.article-content
	%article{id:"#{@blog.id}"}
		%h1=@blog.title
		%span.create-time=@blog.updated_at.localtime.to_s(:db)
		%br
		%div
			.escaped-content=sanitize @blog.content
		%a.screen-top{href:"#", style:"display: none;", title:'返回顶部'} 
			%del
			%b
		-unless @blog.tags.blank?
			%tags 
				=render @blog.tags
			%a.like-count
			%span.like-nums=@blog.like_count
		-if signed_in?
			=link_to '编辑', edit_blog_path(@blog)
	%comment
		%h3 Comments...
		%br
		%ul.comments.col10
			-@blog.comments.each do |comment|
				%li.item=render comment
		%h3 Write Something
		.write-content
			=render "comments/form"
	%nav.article_nav
		-if @blog.has_pre?
			=link_to "Older", blog_path(@blog.pre_blog), class: "pre_blog"
		-if @blog.has_next?
			=link_to 'Newer', blog_path(@blog.next_blog), class: "next_blog"

