=image_tag gravatar(comment.email), class: "item-avator"
-if comment.website.blank?
	%span.item-commenter=comment.commenter
-else
	%a.item-commenter{href: comment.website, target: "_blank"}=comment.commenter
%p.item-content
	=comment.content
-if signed_in?
	=link_to 'x', [comment.blog, comment], class: "delete-comment"
