=form_for([@blog, @blog.comments.build]) do |f|
	.field
		=f.label "Name", for: "cmt_commenter"
		=f.text_field :commenter,  class:"normal", name:'comment[commenter]'
	.field
		=f.label "Email", for: "cmt_email"
		=f.email_field :email, class:"normal", name:'comment[email]'
	.field
		=f.label "Website", for: "cmt_site"
		=f.text_field :website, class:"normal", name:'comment[website]'
	.field
		=f.label "Comment", for: "cmt_content"
		=f.text_area :content, class:"normal", name:'comment[content]'
	.field
		=f.submit "Submit"