%form#form_comment
	.field.comment_commenter
		%label{for:'comment_commenter'} name:
		%input#comment_commenter.normal{type:'text',  name:'comment[commenter]', required:'true'}
	.field.comment_email
		%label{for:'comment_email'} email:
		%input#comment_email.normal{type:'email',  name:'comment[email]', placeholder:"Only used for Gravatar, will not be published"}
	.field.comment_website
		%label{for:'comment_website'} website:
		%input#comment_website.normal{type:'url', name:'comment[website]'}
	.field.comment_content
		%label{for:'comment_content'} comment:
		%textarea#comment_content{name:'comment[content]',required:'true'}
	.field.comment_submit
		%input.btn{type:'submit', value:'留言'}