=form_for([thing, thing.comments.build]) do |f|
	-if !signed_in?
		.field
			=f.label "Name", for: "comment_commenter"
			=f.text_field :commenter,  class: "normal-width", name: "comment[commenter]", required: true
		.field
			=f.label "Email", for: "comment_email"
			=f.email_field :email, class: "normal-width", name: "comment[email]", placeholder: "Only for gravatar, will not be published"
		.field
			=f.label "Website", for: "comment_website"
			=f.url_field :website, class: "normal-width", name: "comment[website]"
	.field
		=f.label "Comment", for: "comment_content"
		=f.text_area :content, name: "comment[content]", required: true, placeholder: "Markdown supported"
	.field
		=f.submit "Submit", class: "button"