%form#form_comment
	%p
		%label{for:'comment_commenter'} 用户:
		%input#comment_commenter.row{type:'text', name:'comment[commenter]'}
	%p
		%label{for:'comment_content'} 内容:
		%textarea#comment_content.row{name:'comment[content]'}
	%p
		%input.btn{type:'submit', value:'留言'}