html{color:#111;padding: 0;margin: 0; font-family:"Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti !important;}
body{background-color: #F6FCF6 !important;}div:focus{outline: none;}
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,th,var,optgroup{font-style:normal;font-weight:normal}ul,ol{margin: 0; padding: 0;}ul{list-style: none;}ol{list-style: none;}caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
i{font-weight: italic}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:sup}
sub{vertical-align:sub}
legend{color:#000}
input,button,textarea,select{*font-size:100%}

pre{
	white-space:pre;
	word-wrap:normal; 
	font-size: 15px;
	background-color: #343;
	color: #ff9;
	border: none;
}

pre code {
	display: block;
	overflow: scroll;
	padding: 10px 20px;
	background-color: transparent;
}
a{font-size:13px; cursor:pointer;transition: background 0.2s linear 0s;}
a:link{color:#556;text-decoration:none}
a:visited{color:#556;text-decoration:none}
a:hover{color:#000;text-decoration:none;}
a:active{color:#000;text-decoration:none}
a img{border-width:0;vertical-align:middle}
body,td,th{font:15px;line-height:1.62; letter-spacing: 0.5px}
table{border-collapse:collapse;border:0;padding:0;margin:0}
textarea{resize:none}
textarea, input[type="text"], input[type="password"], input[type="datetime"], 
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
 input[type="week"], input[type="number"], input[type="email"], input[type="url"], 
 input[type="search"], input[type="tel"], input[type="color"] {
	padding: 4px;
	height: 20px;
	line-height: 19px;
}
.clear-fix {width: 400px;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, 
input[type="datetime"]:focus, input[type="datetime-local"]:focus, 
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, 
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, 
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, 
input[type="color"]:focus{
	outline:none;
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

::-webkit-input-placeholder { font-style: italic; color: #888}
::-moz-placeholder { font-style: italic; color: #888 } 
:-ms-input-placeholder { font-style: italic; color: #888 } 
input:-moz-placeholder { font-style: italic; color: #888 }

@font-face {
	font-family: "Bauhaus Lt BT";
	src:url("/font/BauhausLtBT.ttf");
	font-weight: normal;
	font-style: normal;
}

.col1{
	width: 50px;
}
.col2{
	width: 100px;
}
.col3{
	width: 150px;
}
.col4{
	width: 200px;
}
.col5{
	width: 250px;
}
.col6{
	width: 300px;
}
.col7{
	width: 350px;
}
.col8{
	width: 400px;
}
.col9{
	width: 450px;
}
.col10{
	width: 730px;
}

header {
	z-index: 999;
	background-color: #1c5380;
	opacity: 0.9;
}
footer a:after{
	content: '\f08e';
	color: #3a1d00;
	font: 12px FontAwesome;
	padding-left: 10px;
	vertical-align: middle-line;
}

article ul {
	list-style: disc inside none;
}

article ol {
	list-style: decimal inside none;
}


article img {
	max-width: 700px;
	margin: 10px 0;
}


article video {
	width: 400px;
	height: 50px;
	margin: 10px 0;
}

article .escaped-content {
	line-height: 30px;
	font-size: 15px;
	padding: 8px 0;
}

article .escaped-content a {
	color: #55a;
}

@media screen and (min-width: 1000px){
	header {
		width: 100%;
		height: 35px;
		left: 0;
		top: 0;
		float: left;
		box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	}

	wrapper {
		padding-top: 40px;
		line-height: 20px;
	}

	nav.main, section.page-content, section.article-content {
		max-width: 1000px;
		position: relative;
		margin: 0 auto;
	}

	section.page-content article {
		position: relative;
	}	

	.page-content article .bref, .article-content article, comment {
		min-height: 250px;
		overflow: hidden;
		background-color: #fff;
		margin: 10px 150px 30px -4px;
		padding: 80px  80px 50px;
	}

	.article-content article {
		margin-bottom: 0;
		border-bottom-color:#f2f2f4; 
	}

	comment {
		border-top: none;
		margin-top: 0;
		min-height: 600px;
	}


	.statistical-info {
		font-family: "Bauhaus Lt BT";
		position: absolute;
		width: 100px;
		height: 100%;
		float: right;
		right: 20px;
		top: 40px;
		color: #3070a0;
	}

	.statistical-info span {
		display: block;
	}
  .statistical-info a{
		display: inline-block;
	}
}


/*--窗口640px以上、999px以下--*/
@media screen and (min-width: 640px) and (max-width: 999px){
	header {
		margin: 0 20px 10px;
	  background-color: #fff;
	}

	section.page-content article, section.article-content article {
		padding: 20px;
		padding-top: 70px;
		margin-left: -60px;
	}
	
}
/*--窗口640px以下*/
@media screen and (max-width: 639px){
	header {
		background-color: #fff;
	}

}


body {
	color: #333;
	overflow-x: hidden;
}


h1 {
	font-size: 30px;
	line-height: 40px;
}

h2 {
	font-size: 22px;
	line-height: 30px;
}
h3 {
	font-size: 20px;
	line-height: 30px;
}
h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 22px;
}

textarea {
	resize:vertical;
}


article, picture, section, header, footer, nav, wrapper, page, pagination, comment, blockquote, aside {
	display: block;
}

article {
	font-size: 16px;
	line-height: 32px;
}


	header a:hover {
		color: #f5f5e5;
	}

	header .container {
		position: relative;
		margin: 0 auto;
		z-index: 2;
	}
	



	header .info-content {
		color: #aaa;
    height: 130px;
    margin-left: 20px;
    margin-top: 25px
	}

	header .info-img {
		float: right;
    padding-right: 10px;
	}

		header .info-img img {
			border-radius: 32px 32px 32px 32px;
	    float: right;
	    margin: 10px;
	    width: 64px;
		}


	header .main a {
		color: #fff;
		font-size: 16px;
		line-height: 25px;
		display:inline-block;
		padding: 5px 15px;
	}

	header .sign-status a{
		font-size: 15px;
	}


	header nav ul li {
		font-size: 14px;
		display: inline-block;
	}

	header nav i {
		color: #fff;
		font-size: 12px;
		margin-right: 5px;
		vertical-align: -2px;
	}

.active{
	background-color: #fff;
}
.active a {
	color: #354 !important;
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5) inset;
}

a.editor-active {
	background-color: #000;
	color: #fff;
}


.row {
	overflow: hidden;
	margin-bottom: 20px;
}


.images,.videos {
	margin-bottom: 20px;
}

.images {
	border-bottom: 1px dashed #ccc;
}

.error-msg {
	margin-bottom:10px;
	color: red;
}

.lnk-flat {
	height: 24px;
	padding: 0 8px;
	line-height: 24px;
	border: 1px solid #d9d9d9;
	display: inline-block;
	border-radius: 4px;
}

a.bn-flat:hover {
	background: transparent;
}
a.lnk-flat:link, a.lnk-flat:visited {
	color: #333;
}



.bn-flat:hover, a.lnk-flat:hover {
	border-color: #999 #999 #666;
	color: #333;
}


.create-blog {
	position: fixed;
	left: 20px;
	bottom: 30px;
	z-index: 999;
}


	section.page-content article .blog-title {
		position: relative;
		margin-right: -20px;
	}
	section.page-content article a:hover, section.page-content section a:hover {
		color: #557;
	}
	
	section.page-content tag {
		display: inline-block;
		width: 235px;
		height: 90px;
		color: #335544;
		margin: 10px 10px 10px -5px;
		padding: 30px 20px 10px;
		text-align: center;
		border: 1px solid #fefefe;
		background-color: #fff;
	}

	section.page-content tag:hover {
	  background:-webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#ffffff));
	  background:-moz-linear-gradient(#fefefe, #ffffff);
	  background:-o-linear-gradient(#fefefe, #ffffff);
	  background:linear-gradient(#fefefe, #ffffff);
		box-shadow: 0 2px 20px rgba(200, 200, 200, 0.2) inset;
		border: 1px solid #f0f0f0;
	}


	section.page-content .tag-view {
		display: block;
	}

	section.page-content tag a.tag-view {
		font-size: 20px;
		padding: 10px 20px;
		letter-spacing: 3px;
	}

	section.page-content tag span.tag-view {
		font-size: 12px;
	}

	section.page-content article .blog-view {
		color: #556;
		display: block;
	}


tags a.blog-tag{
	color: #61c788;
	font-size: 13px;
}

.like-nums {
	font-size: 14px;
}

.create-time {
	font-family: "Bauhaus Lt BT";
	font-size: 13px;
}

.create-time:after {
	vertical-align: middle;
	content: "\f017";
	color: #a3c3a2;
	font: 15px FontAwesome;
	padding-left: 5px;
}

.like-count:after{
	content: "\f004";
	color: #ff6c7c;
	font: 12px FontAwesome;
	padding-left: 5px;
}

.page-content tags:before, .article-content tags:before {
	content: "\f02b";
	color: #a3c3a2;
	font: 12px FontAwesome;
	padding-left: 5px;
}

footer {
	width: 1000px;
	margin: 250px auto 0;
	color: #5aaf5a;
	font-size:12px;
}

pagination{
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	height: 100px;
}

.pagination, #article_nav{
	margin: -20px 150px 50px -10px;
}

.pagination a, #article_nav a{
	font-size: 15px;
	font-family: "Bauhaus Lt BT";
	display: inline-block;
	padding: 2px 6px;
}


.pagination a.next_page, #article_nav a.next_blog {
	float: right;
}

.pagination a.next_page:after, #article_nav a.next_blog:after{
	content: '\f054';
	padding-left: 10px;
	font-family: FontAwesome;
}

.pagination a.previous_page:before, #article_nav a.pre_blog:before{
	content: '\f053';
	padding-right: 10px;
	font-family: FontAwesome;
}

.dialog {
	background-color: #fff;
	position: fixed;
	z-index: 999; 
	padding: 20px;
	border-top: 1px solid rgba(100, 100, 100, 0.3);
	box-shadow: 0 1px 1px rgba(100, 100, 100, 0.9);
}
.dialog-hd {
	width: 100%;
	position: relative;
}
.dialog-hd h3 {
	margin-left: 10px;
}
.close-dialog-X {
	position: absolute;
	right: -5px;
	top: -5px;
}

.editor-tools {
	background-color: #eee;
}
.editor-tools a {
	font-size: 15px;
	padding: 2px 5px;
}


.editor-tools ul li {
	display: inline-block;
}

.editor-content {
	background-color: #fff;
}

.editor-content:focus {
	outline: none;
}

#signin {
	background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12);
  height: 250px;
  margin: 100px auto;
  padding: 30px;
  width: 350px;
}

#signin h2 {
	margin-bottom: 40px;
}

.tip {
	width: 500px;
	background-color: #d64742;
	border-radius: 2px;
	color: #fff;
	text-align: center;
	font-size: 13px;
	padding: 3px;
}

.tag-name {
	color: #326172;
	text-align: left;
	vertical-align: middle;
	font-size: 16px;
	font-family: "Bauhaus Lt BT";
	width: 1000px;
	margin: 0 auto;
}

.btn {
	background-color: #888888;
	border: 1px solid #888888;
	color: #fff;
}
.btn:hover {
	color: #fff;
	background-color: #999999;
	box-shadow: 0 1px 1px rgba(100,200,200,0.4);
}

.author {
	background-color: #eee;
	padding: 25px;
	margin-bottom: 10px;
}

.author-avator, .author-info{
	display: inline-block;
}

.author-info {
	vertical-align: top;
	padding-top: 6px;
}

.motto{
	margin-top: 10px;
	font-style: italic;
	color: #999;
}