-provide(:title, 'Signin')
#signin
	%h2 Sign in
	=form_for :admin, url: '/signin', method: :post do |f|
		.field
			=f.label "Email:", for: 'admin_email'
			=f.text_field :email,class:"minimum"
		.field
			=f.label "Password:", for: 'admin_password'
			=f.password_field :password, class:"minimum"
		.field
			=f.submit 'Submit', class: 'button'