-provide(:title, 'Signin')
%link{rel:"stylesheet", href:"/css/blogs.css", media:"all"}
#signin
	%h2 Sign in
	=form_for :admin, :url => '/signin', method: :post do |f|
		.field
			=f.label "Email:", :for => 'email'
			=f.text_field :email,class:"min-width"
		.field
			=f.label "Password:", :for => 'password'
			=f.text_field :password, class:"min-width"
		.field
			=f.submit 'Submit', class: 'btn'