-if signed_in?
	%a.create-blog.italic{href:"#{new_pic_path}"} Take a shoot
.index-content
	-@pics.each do |pic|
		%picture{id:"#{pic.id}"}
			.mini-pic
				=image_tag(pic.avatar.thumb.url)
				.shade
				.pic-info
					%span=pic.description
					.likes
						%a.likeIt
						%span.like-counts=pic.like_count