-if signed_in?
	%a.create-blog.italic{href:"#{new_pic_path}"} Take a shoot
.index-content
	%h3.italic.hd All pictures
	.pic_list
		-@pics.each do |pic|
			%picture{id:"#{pic.id}"}
				=image_tag(pic.avatar.thumb.url)
				.pic-info
					%span=pic.description
					.pic-acts
						%a.likeIt
						%span.like-counts=pic.like_count
						=link_to "", pic_path(pic), class:"icon-comments"