.new-pic
	%h2 Take a shot
	%section
		=form_for @pic, url: pics_path, html: { multipart: true } do |f|
			%a.a-upload{href:"javascript:void(0)"}
				=f.file_field :avatar, class: "upload-img field"
				选择文件
			%span#upload_file_name
			:javascript
				(function(){
					$("#picture_avatar").change(function(){
						$("#upload_file_name").text($(this).val())
					});
				})();
			=f.text_area :description, class: "field", placeholder:"Describe the shoot"
			=f.submit "submit", class: "button field"
			.tag-editor.field
				=render partial: 'tags/edit_tag', locals: {model: @pic}