.tagarea
	.tag-tokens{name:'blog[tags]'}
		-unless @blog.tags.blank?
			-@blog.tags.each do |tag|
				%span.tag-token=tag.name
		.create-tags
			%input.new-tag{type:'text', maxlength: '60', style: 'width: 60px; font-weight: bold;', placeholder: '添加标签'}
			%input#author_tags{type: 'hidden', name: 'tags'}
			%span.hiddenspan#hidden_swap_tag
	.exist-tags
		%p 已有标签：	
		-Tag.all.each do |tag|
			%span.tag-token=tag.name