.index-content
	%h3.italic.pad20 All tags
	.tag-list
		%ul.tag-detail
			-@tags.each do |tag|
				-count = 20;count = tag.blogs.count unless tag.blogs.count > count
				-unless count == 0
					%li
						=link_to tag.name, tag_path(tag), style:"font-size:#{count+12}px;"
						%span x #{tag.blogs.count}