.index-content
	%h3.italic{style:"padding:20px;"} All the tags
	.tag-list
		%ul.tag-detail
			-@tags.each do |tag|
				%li
					-count = 20
					-count = tag.blogs.count unless tag.blogs.count > count
					=link_to tag.name, tag_path(tag), style:"font-size:#{count+12}px;"
					%span x #{tag.blogs.count}