.index-content
	%h3.italic{style:"padding:20px;"} All the tags
	.tag-list
		%ul.tag-detail
			-@tags.each do |tag|
				%li
					%h3
						=link_to tag.name, tag_path(tag)
					%span #{tag.blogs.count} articles