-if signed_in?
	=link_to "Take a shoot", new_picture_path, class:"create-blog italic" 
.index-content
	%h3.italic.pad20 All pictures
	.pic_list
		-@pics.each do |pic|
			%picture{id:"#{pic.id}"}
				%a.middle.narrow{href:"#{picture_path(pic)}"}
					=image_tag(pic.avatar.thumb.url)
				.wide=image_tag(pic.avatar.thumb.url)
				.pic-info
					=link_to pic.description, picture_path(pic), class: "pic-desc"
					.pic-acts.wide.middle
						%a.likeIt
						%span.like-counts=pic.like_count