-if signed_in?
	=link_to "Take a shoot", new_picture_path, class:"create-blog italic" 
.index-content
	%h3.italic.hd All pictures
	.pic_list
		-@pics.each do |pic|
			%picture{id:"#{pic.id}"}
				=image_tag(pic.avatar.thumb.url)
				.pic-info
					=link_to pic.description, picture_path(pic), class: "pic-desc"
					.pic-acts
						%a.likeIt
						%span.like-counts=pic.like_count
						=link_to "", picture_path(pic), class:"icon-comments", title:"take a comment"