-provide(:title)
%section.full-pic
	%figure
		=image_tag @pic.avatar.url
		.field
			%p=@pic.description
		-unless @pic.tags.blank?
			%tags
				-@pic.tags.each do |tag|
					%span.tag=tag.name
%section.pic-comment
	=render partial: "comments/comment", locals:{thing: @pic}